@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

/********************************* CORE STYLES **/

* {
    margin:0;
    border:0;
    padding:0;
}

body {
    color:#212121;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    background-color: #d7ccc8
}

a {
    color:inherit;
}

hr {
    border: 1px solid black;
}

/************************************ HEADER LINKS **/

nav {
    font-family: 'Gabriela', serif;
    letter-spacing: 1px;
    height:100px;
    background-color:#eeeeee;
    color:#424242;
}

nav .brand-logo {
    line-height: 100px;
    padding-left: 10px;
    color:#424242;
}

nav a {
    margin:0 auto;
    color:#424242;
    line-height:100px;
}

nav ul a {
    color:#424242;
    font-size:1rem;
}

nav .sidenav-trigger {
    line-height:100px;
}

.menu {
    text-transform: uppercase;
}

#logo {
    padding-left: 20px;
}

/************************************ HEADER LINKS **/

.login {
    background-color: white;
    color:black;
    min-width:50%;
    position:absolute;
    top:30%;
    left:20%;
    padding:20px;
    border-radius: 10px;
}

.login h5 a:hover {
    text-decoration: underline;
}

.landing-page-img {
    position:relative;
    width:100%;
}

.landing-page-img h1 {
    font-family: 'Gabriela', serif;
}

/************************************ PHONE MENU **/

.sidenav li a {
    font-size: 2rem;
    padding:20px 10px;
    margin-top:20px;
    overflow: visible;
    height:100px;
    font-family: 'Gabriela', serif;
    text-align: center;
}

.sidenav {
    background-color: #e0e0e0 ;
}

/************************************ Reviews **/

#reviews {
    background-color:white;
    min-height:300px;
    letter-spacing: 3px;    
}

.album-img {
    height:100%;
    background-color: black;
}

#reviews img {
    border-radius: 10px;
    border:1px solid grey;
    display:flex;
    margin:20px;
}

#reviews h5 {
    font-weight:2000;
}

#reviews p {
    padding-top:15px;
}

.btn-large i {
    font-size: 0.8rem;
}

.btn-large {
    margin: 10px 3px 2px;
}

/********************************* PROFILE **/



/************************************ FORM LINKS **/

select {
    display:block;
}

#store, #record {
    display: none;
}

form{
    margin:30px;
}

form label {
    font-size:2rem;
    line-height:1px;
    color:#eeeeee;
}

.btn {
    background-color:#bdbdbd;
    letter-spacing: 3px;
    font-weight:500;
}

.form p {
    color:#eeeeee;
    letter-spacing: 1px;
    padding-top:20px;
}

.dropdown {
    margin:0 auto;
}

/************************************ FOOTER **/

.social-links {
    height:180px;
    background-color:#757575;
    border-top:2px solid #e0e0e0;
    margin-top:50px;
}

.social-links h4 {
    color:white;
}