@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

/********************************* CORE STYLES **/

* {
    margin:0;
    border:0;
    padding:0;
}

body {
    color:#212121;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    background-color: #eeeeee;
}

a {
    color:inherit;
}

hr {
    border: 1px solid black;
}

/************************************ HEADER LINKS **/

nav {
    font-family: 'Gabriela', serif;
    letter-spacing: 1px;
    height:100px;
}

nav a {
    margin:0 auto;
}

.menu {
    text-transform: uppercase;
}

#logo {
    padding-left: 20px;
}


/************************************ PHONE MENU **/

.sidenav li a {
    font-size: 2rem;
    padding:20px 10px;
    margin-top:20px;
    overflow: visible;
    height:100px;
    font-family: 'Gabriela', serif;
    text-align: center;
}

.sidenav {
    background-color: #e0e0e0 ;
}