<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block styles %}
  {% endblock %}
  <title>Document</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="{{ url_for('landing') }}" class="brand-logo">Rate My Record</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">About</a></li>
  </ul>
  <section>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
      <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </section>

  <section class="container">
    {% block content %}
    {% endblock %}
  </section>
  
  {% block scripts %}
  {% endblock %}
</body>

</html>