{% extends "base.html" %}
{% block content %}

<h2 class="center-align headings">Add a Review !</h2>
<div class="row">
    <form id="store" name="store" method="POST" action="{{ url_for('contact') }}">
        <div class="row">
            <div class="input-field col s12 m2">
                <label class="center-align" for="username">Username</label>
            </div>
            <div class="col s12 m10">
                <input id="username" name="username" type="text" class="validate" value="{{ session['user'] }}" disabled="" required>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m2">
                <label for="issue">Message</label>
            </div>
            <div class="col s12 m10">
                <textarea id="issue" name="issue" class="materialize-textarea"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Send Message
                    <i class="material-icons right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}