{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Add a Review !</h2>
<div class="row">
    <form id="store" name="store" method="POST" action="{{ url_for('contact', user_id=user._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <input id="store-name" name="store-name" type="text" class="validate" value="{{ session['user'] }}" required>
                <label class="center-align" for="store-name">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add Store Review
                    <i class="material-icons right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}