{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Edit Store Review !</h2>
<div class="row">
    <form id="record" method="POST" action="{{ url_for(
        'edit_store_review', store_review_id = store_review._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <input id="album" name="album" type="text" class="validate" value="{{ album_name }}" required>
                <label class="center-align" for="album">Album Title</label>
            </div>
        </div>
    </form>
</div>
<!-- <div class="col s-12 m-6">
        <img src="static/images/clem-onojeghuo-pTeZKi29EYE-unsplash.jpg" height="500" width="600">
    </div> -->

{% endblock %}