{% extends "base.html" %}
{% block content %}
<section>
    <div class="landing-page-img">
        <img src="static/images/mick-haupt--EoUIP5q2q8-unsplash.jpg" height="600" width="100%">
        <div class="login">
            <h1 class="center-align"><a href="url_for('register')">Rate My Record</a></h1>
            <h5 class="center-align"><i>A place for like-minded music lovers to contribute</i></h5>
            {% if not session["user"] %}
            <h5 class="center-align"><a href="{{ url_for('register') }}">Register </a></h5>
            <h5 class="center-align"><a href="{{ url_for('login') }}">Log in</a></h5>
            {% endif %}
        </div>
    </div>
    <h1 class="center-align">Reviews</h1>
    {% for review in reviews %}
    <div class="row" id="reviews">
        <div class="col s-5 push s-7">
            <img src="{{ review.img }}" height="250px" width="300px" alt="album-cover">
        </div>
        <div class="col s7 push s-5">
            <h5 class="center-align">{{ review.album_name }}</h5>
            <p><strong>Artist name: </strong>{{ review.artist_name }}</p>
            <p><strong>Description: </strong>{{ review.desc }}</p>
            <p><strong>Label: </strong>{{ review.label }}</p>
            <p><strong>Created by: </strong>{{ review.created_by }}</p>
            {% if session.user %}
            <div class="row">
                {% if session.user == review.created_by %}
                <a href="" class="waves-effect waves-light btn-large blue"><i class="material-icons">Edit</i></a>
                <a href="#" class="waves-effect waves-light btn-large red"><i class="material-icons">Delete</i></a>
                {% else %}
                <a href="#"><i class="waves-effect waves-light btn-large grey">Add to wishlist</i></a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}