{% extends "base.html" %}
{% block content %}

<!-- Customer section  -->
<section class="landing-container">
    <div class="landing-page-img">
        <img src="static/images/mick-haupt--EoUIP5q2q8-unsplash.jpg" height="600" width="100%">
        <div class="login">
            <h1 class="center-align"><a href="url_for('landing')">Rate My Record</a></h1>
            <p class="center-align hide-on-small-only"><i>A place for like-minded music lovers to contribute</i></hp>
                <!-- Show if first time visitor or not logged in -->
                {% if not session["user"] %}
                <h5 class="center-align"><a href="{{ url_for('register') }}">Register </a></h5>
                <h5 class="center-align"><a href="{{ url_for('login') }}">Log in</a></h5>
                {% endif %}
        </div>
    </div>
    <h1 class="center-align headings">Reviews</h1>
    <!-- Display search bar -->
    <form action="{{ url_for('search') }}" method="POST" id="search-bar">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" name="search" id="search" minlength="3" class="validate" required>
                <label for="search">Search Reviews</label>
            </div>
        </div>
        <!-- Search button -->
        <div class="row">
        <div class="col s12 buttons">
            <button class="waves-effect waves-light btn-large blue">
                Search
            </button>
        </div>
        </div>
    </form>
    <!-- Show all record reviews from reviews collection -->
    <h4 class="center headings">Records</h4>
    <div class="row">
        <!-- Iterate over all reviews in reviews collection -->
        {% for review in reviews %}
        <div class="col s12 m6" id="reviews">
            <h5 class="center-align">
                <a href="{{ url_for('review_page', review_id=review._id) }}">{{ review.album_name }}</a>
            </h5>
            <!-- If img is provided by user -->
            {% if review.img|length %}
            <div class="col s12">
                <img src="{{ review.img }}" height="250px" width="250px" alt="album-cover">
            </div>
            <!-- Default image if no img provided -->
            {% else %}
            <div class="col s12">
                <img src="static/images/brett-jordan-hrUhyFq6u-A-unsplash.jpg" height="250px" width="250px"
                    alt="record-cover">
            </div>
            {% endif %}
            <div class="col s12">
                <p><strong>Artist name: </strong>{{ review.artist_name }}</p>
                <p><strong>Label: </strong>{{ review.label }}</p>
                <p><strong>Created by: </strong>{{ review.created_by }}</p>
                {% if session.user %}
                <div class="row buttons">
                    <!-- Show if user is logged in -->
                    {% if session.user == review.created_by %}
                    <a href="{{ url_for('edit_review', review_id=review._id) }}"
                        class="waves-effect waves-light btn-large green">Edit
                    </a>
                    <a href="{{ url_for('delete_review', review_id=review._id) }}"
                    class="waves-effect waves-light btn-large red">Delete
                    </a>
                    <!-- Show if admin -->
                    {% elif session.user == "admin" %}
                    <a href="{{ url_for('edit_review', review_id=review._id) }}"
                        class="waves-effect waves-light btn-large green">Edit</a>
                    <a href="{{ url_for('delete_review', review_id=review._id) }}"
                    class="waves-effect waves-light btn-large red">Delete</a>
                    {% else %}
                    <!-- If user id is not in a wishlist array -->
                    {% if username._id not in review.wishlist %}
                    <button>
                        <a href="{{ url_for('add_to_wishlist', review_id=review._id) }}"
                            class="waves-effect waves-light btn-large grey">Add to wishlist</a>
                    </button>
                    {% else %}
                    <!-- If user id already in wishlist array -->
                    <button>
                        <a href="{{ url_for('delete_wishlist', review_id=review._id) }}"
                            class="waves-effect waves-light btn-large orange">Remove</a>
                    </button>
                    {% endif %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Show all reviews from store reviews collection -->
    <h4 class="headings center-align">Stores</h4>
    <div class="row">
        <!-- Iterate over all store reviews in store_reviews collection -->
        {% for store_review in store_reviews %}
        <div class="col s12 m6" id="reviews">
            <h5 class="center-align">
                <a href="{{ url_for('store_review_page', store_review_id=store_review._id) }}">
                    {{ store_review.store_name }}
                </a>
            </h5>
            <!-- If img is provided by user -->
            {% if store_review.img|length %}
            <div class="col s12">
                <img src="{{ store_review.store_img }}" height="250px" width="250px" alt="store_img">
            </div>
            {% else %}
            <div class="col s12">
                <img src="static/images/record-g1ebaaace1_640.jpg" height="250px" width="250px" alt="store-cover">
            </div>
            {% endif %}
            <div class="col s12">
                <p><strong>Location: </strong>{{ store_review.location}}</p>
                <p><strong>Created by: </strong>{{ store_review.created_by }}</p>
                <!-- If user logged in -->
                {% if session.user %}
                <div class="row buttons">
                    {% if session.user == store_review.created_by %}
                    <a href="{{ url_for('edit_store_review', store_review_id=store_review._id) }}"
                        class="waves-effect waves-light btn-large green">Edit</a>
                    <a href="{{ url_for('delete_store_review', store_review_id=store_review._id) }}"
                        class="waves-effect waves-light btn-large red">
                        Delete
                    </a>
                    <!-- Show if admin -->
                    {% elif session.user == "admin" %}
                    <a href="{{ url_for('edit_store_review', store_review_id=store_review._id) }}"
                        class="waves-effect waves-light btn-large green">
                        Edit
                    </a>
                    <a href="{{ url_for('delete_store_review', store_review_id=store_review._id) }}"
                        class="waves-effect waves-light btn-large red">
                        Delete
                    </a>
                    {% else %}
                    <!-- Show if user id isn't in wishlist array -->
                    {% if username._id not in store_review.wishlist %}
                    <button>
                        <a href="{{ url_for('add_to_stores_wishlist', store_review_id=store_review._id) }}"
                            class="waves-effect waves-light btn-large grey">Add to wishlist</a>
                    </button>
                    {% else %}
                    <!-- If user id is already in wishlist array -->
                    <button>
                        <a href="{{ url_for('delete_store_wishlist', store_review_id=store_review._id) }}"
                            class="waves-effect waves-light btn-large orange">Remove</a>
                    </button>
                    {% endif %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}