{% extends "base.html" %}
{% block content %}
<section>
    <h1 class="center-align">Manage User's Reviews</h1>
    {% for review in reviews %}
    <div class="row" id="reviews">
        <div class="col s5 push s-7">
            <img src="{{ review.img }}" height="250px" width="300px" alt="album-cover">
        </div>
        <div class="col s7 push s-5">
            <h5 class="center-align">{{ review.album_name }}</h5>
            <p><strong>Artist name: </strong>{{ review.artist_name }}</p>
            <p><strong>Description: </strong>{{ review.desc }}</p>
            <p><strong>Label: </strong>{{ review.label }}</p>
            <p><strong>Created by: </strong>{{ review.created_by }}</p>
            <div class="row">
                <a href="#" class="waves-effect waves-light btn-large blue"><i class="material-icons">Edit</i></a>
                <a href="#" class="waves-effect waves-light btn-large red"><i class="material-icons">Delete</i></a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for store_review in store_reviews %}
    <div class="row" id="reviews">
        <div class="col s5 push s-7">
            <img src="{{ store_review.store_img }}" height="250px" width="300px" alt="album-cover">
        </div>
        <div class="col s7 push s-5">
            <h5 class="center-align">{{ store_review.store_name }}</h5>
            <p><strong>Description: </strong>{{ store_review.store_desc }}</p>
            <p><strong>Genre's: </strong>{{ store_review.store_genre}}</p>
            <p><strong>Created by: </strong>{{ store_review.created_by }}</p>
            <div class="row">
                <a href="#" class="waves-effect waves-light btn-large blue"><i class="material-icons">Edit</i></a>
                <a href="#" class="waves-effect waves-light btn-large red"><i class="material-icons">Delete</i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}