{% extends "base.html" %}
{% block content %}
<h3 class="center-align">{{ username }}'s Profile</h3>
<h3 class="center-align">Your Reviews</h3>
{% for review in reviews %}
{% if review.created_by == session["user"] %}
<div class="row" id="reviews">
    <div class="col s-5 push s-7">
        <img src="{{ review.img }}" height="250px" width="300px" alt="album-cover">
    </div>
    <div class="col s7 push s-5">
        <h5 class="center-align">{{ review.album_name }}</h5>
        <p><strong>Artist name: </strong>{{ review.artist_name }}</p>
        <p><strong>Description: </strong>{{ review.desc }}</p>
        <p><strong>Label: </strong>{{ review.label }}</p>
        <p><strong>Created by: </strong>{{ review.created_by }}</p>
        {% if session.user %}
        <div class="row">
            <a class="#"><i class="waves-effect waves-light btn-large grey">Add to wishlist</i></a>
            {% if session.user == review.created_by %}
            <a href="" class="waves-effect waves-light btn-large blue"><i class="material-icons">Edit</i></a>
            <a href="#" class="waves-effect waves-light btn-large red"><i class="material-icons">Delete</i></a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}