{% extends "base.html" %}
{% block content %}

<h3 class="center-align">{{ username }}'s Profile</h3>
<div class="row">
    <div class="col s12 m6 profile-reviews">
        <h3 class="center-align">Your Reviews</h3>
        <!-- if the user has no reviews -->
        {% if reviews|length == 0  %}
        <div>
            <h5 class="center-align">No reviews yet.</h5><br>
            <p class="center-align">Add record review<a href="{{ url_for('add_review') }}"> here.</a></p>
            <p class="center-align">Add store review<a href="{{ url_for('add_store_review') }}"> here.</a></p>
        </div>
        {% else %}
        {% for review in reviews %}
        {% if review.created_by == session["user"] %}
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <!-- If img provided by user -->
                    {% if review.img is defined %}
                    <img src="{{ review.img }}" height="200" width="200">
                    <!-- If not -->
                    {% else %}
                    <img src="static/images/brett-jordan-hrUhyFq6u-A-unsplash.jpg" height="200" width="200">
                    {% endif %}
                    <h5 class="card-title center-align" href="{{ url_for('review_page', review_id=review._id) }}">
                        {{ review.artist_name }}</h5>
                </div>
                <div class="card-content">
                    <p class="center-align">{{ review.album_name }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <!-- display store reviews -->

        {% for store_review in store_reviews %}
        {% if store_review.created_by == session["user"] %}
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <!-- If img provided by user -->
                        {% if store_review.store_img is defined %}
                        <img src="{{ store_review.store_img }}" height="200" width="200">
                        <!-- If not -->
                        {% else %}
                        <img src="static/images/record-g1ebaaace1_640.jpg" height="200" width="200">
                        {% endif %}
                        <h5 class="card-title center-align" href="{{ url_for('store_review_page', store_review_id=store_review._id) }}">
                            {{ store_review.store__name }}</h5>
                    </div>
                    <div class="card-content">
                        <p>{{ store_review.store_desc }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Wishlist -->
    <div class="row">
        <div class="col s12 m6">
            <!-- Display the reviews a user has added to their profile for wishlist -->
            <h3 class="center-align">Your wishlist</h3>
            {% for review in reviews %}
            {% if session["user"] in review.wishlist %}
            <div class="col s12 m6">
                <div class="card">
                    <!-- If img is provided by user -->
                    <div class="card-image">
                        <!-- If img provided by user -->
                        {% if review.img is defined %}
                        <img src="{{ review.img }}" height="200" width="200">
                        <!-- If not -->
                        {% else %}
                        <img src="static/images/brett-jordan-hrUhyFq6u-A-unsplash.jpg" height="200" width="200">
                        {% endif %}
                        <h5 class="card-title center-align" href="{{ url_for('review_page', review_id=review._id) }}">
                            {{ review.artist_name }}</h5>
                    </div>
                    <div class="card-content">
                        <p class="center-align">{{ review.album_name }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <!-- Display the store reviews a user has added to their profile for wishlist -->
        <div class="col s12 m6">
            <h3 class="center-align">Your wishlist</h3>
            {% for store_review in store_reviews %}
            {% if session["user"] in store_review.wishlist %}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <!-- If img provided by user -->
                        {% if store_review.store_img is defined %}
                        <img src="{{ store_review.store_img }}" height="200" width="200">
                        <!-- If not -->
                        {% else %}
                        <img src="static/images/record-g1ebaaace1_640.jpg" height="200" width="200">
                        {% endif %}
                        <h5 class="card-title center-align" href="{{ url_for('store_review_page', store_review_id=store_review._id) }}">
                            {{ store_review.store__name }}</h5>
                    </div>
                    <div class="card-content">
                        <p class="center-align">{{ store_review.location }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}